.privacy-legal-content {
  @apply mt-[7.5rem] pb-[8.75rem];

  .container {
    @apply px-[0.938rem] md:px-[1.875rem] max-w-none;
  }

  .content-wrapper {
    @apply mt-10 md:mt-20;

    .terms-heading {
      @apply font-twk font-medium text-lg mt-10 md:mt-20 md:text-[1.375rem] leading-[1.816rem] mb-5 md:mb-8;
    
      &:first-of-type {
        @apply mt-0;
      }
    }

    .terms-title {
      @apply text-xl mb-[0.625rem];
    }

    .terms-content {
      @apply text-base md:text-lg md:leading-[1.575rem] leading-[1.575rem] mb-10 md:mb-[2.375rem];
    }

    ol {
      list-style: auto;
      list-style-position: inside;
    }

    ul {
      list-style: disc;
      list-style-position: inside;
    }

    .terms-content-wrapper ol {
      list-style: auto;
      list-style-position: inside;
    }

    .terms-content-wrapper ul {
      list-style: disc;
      list-style-position: initial;
      padding-left: 32px;
    }
  }
}
